* {
    color: blue;


}

div {
/* outline-style: ridge;
outline-width: 10%; */

border-style: ridge;
border-color: red;
}

img {
/* outline: dotted 5px;     */
border-color: blue;
border-style: groove;
margin: 15px;
width: 100px;
height: 100px;
}


